@model Domain.Models.User

@{
    ViewBag.Title = "OnRAMP Online Training Platform";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParentUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentUserId)
        </dd>

      @*  <dt>
            @Html.DisplayNameFor(model => model.ComapnyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComapnyID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

       @* <dt>
            @Html.DisplayNameFor(model => model.PhysicalAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhysicalAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalAddress)
        </dd>
           *@
        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

       @* <dt>
            @Html.DisplayNameFor(model => model.TelephoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelephoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebsiteAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebsiteAddress)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>

       @* <dt>
            @Html.DisplayNameFor(model => model.LayerSubDomain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LayerSubDomain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProvisionalAccountLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProvisionalAccountLink)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
