@model Ramp.Contracts.Events.TestManagement.TrainingTestAssignedEvent

@{
    Layout = null;
    var testUrl = AppSettings.Urls.ResolveUrl("~ManageTrainingTest/ManageTrainingTest/TakeTrainingTest?trainingTestId=" + @Model.TrainingTestViewModel.TrainingTestId);
    var footerUrl = AppSettings.Urls.ResolveUrl("~images/powered.png");
    var notificationHeader = "#FFFFFF";
    var notificationFooter = "#FFFFFF";


}

<!DOCTYPE html>

<html>
<head>
</head>
<body>
    <p> Dear @Model.UserViewModel.FirstName</p>
    <p>
        Please note that the test <strong>@Model.TrainingTestViewModel.TestTitle</strong> has been assigned to you.
    </p>
    <p>
        Click <a href="@testUrl">here</a> to take the test.
    </p>
     @if (Model.NotificationFooterLogo != null) {
            <img src="data:image/png;base64,@Convert.ToBase64String(Model.NotificationFooterLogo)" width="100%" height="35" alt="Powered by OnRamp" class="img-responsive center-block company-logo" />
        } else {
            <img src="@footerUrl" width="100%" height="35" alt="Powered by OnRamp" />
        }
</body>
</html>