@model Ramp.Contracts.ViewModel.MemoModel
@using Web.UI.Code.Extensions
@using Common.Web
@using Domain.Customer
@using Common.Enums

@using System.Threading
@{
    if (Thread.CurrentPrincipal.IsInGlobalAdminRole() || Thread.CurrentPrincipal.IsInResellerRole()) {
        Layout = "~/Views/Shared/_Layout.cshtml";
    } else {
        Layout = "~/Views/Shared/_LayoutStandardUser.cshtml";
    }
    ViewBag.Title = "OnRAMP Online Training Platform";
    var numberNorm = 0;
    if (Model.ContentModels.FirstOrDefault() != null && Model.ContentModels.First().Number == 0) {
        numberNorm = 1;
    }
    var isGlobalAccessed = ViewBag.IsGlobalAccessed;
    var isGlobal = Request["isGlobal"];
    var show = ViewBag.Show;
}
<link href="~/Content/Areas/Document/Preview.css" rel="stylesheet" />
<style>

    #divContent .form-control {
        max-width: unset;
    }


    .hover-zoom {
        zoom: 1;
    }

        .hover-zoom:hover {
            -ms-transition: transform .15s ease-in-out;
            -o-transition: transform .15s ease-in-out;
            -webkit-transition: transform .15s ease-in-out;
            -ms-transition: transform .15s ease-in-out;
            -o-transition: transform .15s ease-in-out;
            -webkit-transition: transform .15s ease-in-out;
            transition: transform .15s ease-in-out;
            transform: scale(1.1)
        }

    .cursor {
        cursor: pointer;
    }
</style>
<div class="row">
    <div class="col-sm-3">
        <div id="divContent">
            <div class="panel panel-info" data-bind="with:data">
                <div class="panel-heading">
                    <h4>CONTENTS</h4>
                </div>
                <div class="panel-footer panel-primary">
                    <table>
                        <tbody data-bind="foreach: ContentModels">
                            <tr>
                                <td><span data-bind="text:ko.unwrap(Number) + @numberNorm"></span></td>
                                <td>&nbsp;<span class="anchor" data-bind="click:$root.content.set.bind(),text:app.data.utils.string.truncate(Title,30),css:{'active-chapter' : $root.content.isSelected($data)}"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>FEEDBACK</h4>
                </div>
                <div class="panel-footer panel-primary text-center" data-bind="with:$root.feedback">
                    <select class="form-control" data-bind="options:contentTypes,
                                                            optionsValue:'Id',
                                                            optionsText:'Name',
                                                            optionsCaption : 'What type of feedback ?',
                                                            value:ContentType"></select>
                    <p></p>
                    <textarea class="form-control" data-bind="textInput:Content" rows="7"></textarea>
                    <p></p>
                    <button class="btn btn-success btn-sm" type="button" data-bind="click:save.bind()">Send</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9" data-bind="with:data">
        <h1 class="lead" data-bind="text:ko.unwrap(Title).toUpperCase()"></h1>
        <h4><strong><span class="pageHeading_ref" data-bind="text:$root.enums.documentType[ko.unwrap(DocumentType)].toUpperCase() + ' REF: '"></span><span data-bind="text:ReferenceId"></span></strong></h4>
        <div class="well">
            <p data-bind="text:Description"></p>
        </div>
        <div class="input-group">
            <label>View Mode</label>
            <span class="btn-group-sm" data-bind="with:$root.content.previewMode">
                <button type="button" class="btn btn-default" data-bind="click:set.bind(0),css : {'btn-primary' : isPortraitMode()}">Portrait</button>
                <button type="button" class="btn btn-default" data-bind="click:set.bind(1) ,css : {'btn-primary' : isStorybookMode()}">Storybook</button>
            </span>
        </div>
        <!-- ko if: $root.content.previewMode.isStorybookMode() -->
        <div class="pull-right" data-bind="with:$root.paging">
            <button class="btn btn-default" data-bind="click:previous.bind(),disable:isCover() || (!hasCover() && isFirst())">Prev</button>
            <button class="btn btn-primary" data-bind="click:next.bind(),disable:isLast()">Next</button>
        </div>
        <br />
        <!--/ko -->
        <!-- ko if:$root.paging.shouldShowCover() -->
        <br />
        <div class="text-center" data-bind="with:CoverPicture">
            <a data-bind="fancybox:{ autoSize:true }, attr:{ href:Url, title:Description }" class="fancybox.image">
                <img class="img-responsive" data-bind="attr:{src:Url,title:Description}" style="margin-left:auto;margin-right:auto" />
            </a>
        </div>
        <!-- /ko -->
        <br />
        <!-- ko foreach:ContentModels -->
        <!-- ko if:$root.paging.shouldShowContent($data) -->
        <div class="panel panel-info" data-bind="attr:{id:Id}">
            <div class="panel-heading hidden-xs">
                <div class="heading pull-left">
                    <h4 class="chapterNumber" data-bind="text:Number() + @numberNorm"></h4>&nbsp;
                    <p class="chapterName" data-bind="text:app.data.utils.string.truncate(Title,90)"></p>
                </div>

                <div class="btn-group pull-right hidden-sm">
                    <a class="btn btn-default" data-bind="visible:ko.unwrap(DocLinkAndAttachmentCount) > 0, click:$root.content.toggleAttachments.bind(), css:{ 'btn-info':state.showAttachments }">
                        <span class="glyphicon glyphicon-paperclip"></span>&nbsp;
                        <span data-bind="text:ko.unwrap(state.showAttachments) ? 'Hide Attachments' : 'Show Attachments'"></span>
                        <span class="badge" data-bind="text:ko.unwrap(DocLinkAndAttachmentCount)"></span>
                    </a>
                </div>
                <div class="btn-group pull-right visible-sm">
                    <a class="btn btn-default" data-bind="visible:ko.unwrap(DocLinkAndAttachmentCount) > 0, click:$root.content.toggleAttachments.bind(), css:{ 'btn-info':state.showAttachments }">
                        <span class="glyphicon glyphicon-paperclip"></span>&nbsp;
                        <span data-bind="text:ko.unwrap(state.showAttachments) ? 'Hide' : 'Show'"></span>&nbsp;<span class="badge" data-bind="text:ko.unwrap(DocLinkAndAttachmentCount)"></span>
                    </a>
                </div>
                <span class="clearfix"></span>
            </div>
            <div class="panel-heading visible-xs">
                <div class="heading text-center">
                    <h4 class="chapterNumber" data-bind="text:Number() + @numberNorm"></h4>&nbsp;
                </div>
                <span class="clearfix"></span>
            </div>
            <div class="panel-heading visible-xs">
                <div class="heading">
                    <span class="chapterName" data-bind="text:Title"></span>
                </div>
                <span class="clearfix"></span>
            </div>
            <div class="panel-heading visible-xs text-center">
                <div class="btn-group">
                    <a class="btn btn-default" data-bind="visible:ko.unwrap(Attachments).length, click:$root.content.toggleAttachments.bind(), css:{ 'btn-info':state.showAttachments }"><span class="glyphicon glyphicon-paperclip"></span>&nbsp;<span data-bind="text:ko.unwrap(state.showAttachments) ? 'Hide' : 'Show'"></span>&nbsp;<span class="badge" data-bind="text:ko.unwrap(Attachments).length"></span></a>
                </div>
            </div>
            <div class="collapse" style="position: relative" data-bind="attr:{ id:'attachments_'+ko.unwrap(Id) }, slideVisible:state.showAttachments">
                <!-- ko if: ko.unwrap($data.DocLinks)?.length > 0-->
                <div style="padding: 10px 10px">
                    <strong style="margin-left: 15px">Links:</strong>
                </div>

                <div class="row col-md-12" style="padding-bottom: 10px" id="docLinks" data-bind="foreach:$data.DocLinks, attr: {id: 'chapter_' + $index() }">
                    <div class="col-md-2">
                        <a class="iframe" data-bind="attr: {href: Url}">
                            <img class="img-responsive upload-thumbnail hover-zoom cursor" data-bind="attr:{title:Url}" src="@Url.Content("~/Content/images/file/WebFrame.png")" />
                            <p class="text-center"> <span data-bind="text: Name"></span></p>
                        </a>
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if: ko.unwrap($data.Attachments).length > 0-->
                <div data-bind="foreach:Attachments" style="padding: 5px">
                    <div class="pull-left text-center" style="margin-left: 15px;width: 115px; ">
                        <div style="height: 100px;">
                            <!-- ko if:ko.unwrap(Type).indexOf('Image') === 0 -->
                            <a data-bind="fancybox:{ autoSize:true }, attr:{ href:Url, title:Description }" class="fancybox.image">
                                <img class="img-responsive attachment img-thumbnail hover-zoom cursor" data-bind="attr:{src:ThumbnailUrl,title:Description}" />
                            </a>
                            <!-- /ko -->
                            <!-- ko if:ko.unwrap(Type).indexOf('Video') === 0 -->
                            <a data-bind="fancybox:{ helpers:{ media:{} }}, attr:{ title:Description }" class="fancybox.iframe">
                                <img class="img-responsive attachment hover-zoom cursor" data-bind="attr:{src:ThumbnailUrl,title:Description}" />
                                <div class="content center-block">
                                    <video controls height="320" width="600">
                                        <source data-bind="attr:{ src:Url }" type="video/mp4" />
                                        Your browser does not support the HTML 5 video tag.
                                    </video>
                                </div>
                            </a>
                            <!-- /ko -->
                            <!-- ko if:ko.unwrap(Type).indexOf('Audio') === 0 -->
                            <a data-bind="fancybox:{ helpers:{ media:{} }}, attr:{ title:Description }" class="fancybox.iframe">
                                <img class="img-responsive attachment hover-zoom cursor" data-bind="attr:{src:ThumbnailUrl,title:Description}" />
                                <div class="content center-block">
                                    <audio controls style="width:100%">
                                        <source data-bind="attr:{ src:Url }" type="audio/mp3" />
                                        Your browser does not support the HTML 5 audio tag.
                                    </audio>
                                </div>
                            </a>
                            <!-- /ko -->
                            <!-- ko ifnot:(ko.unwrap(Type).indexOf('Image') === 0 || ko.unwrap(Type).indexOf('Video') === 0 || ko.unwrap(Type).indexOf('Audio') === 0)-->
                            <img class="img-responsive attachment hover-zoom cursor" data-bind="attr:{src:ThumbnailUrl,title:Description},click:$root.content.previewUpload.bind($data)" />
                            <!-- /ko -->
                        </div>
                        <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis">
                            <small data-bind="text:Description"></small>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
                <div class="clearfix"></div>
                <hr />
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12 chapter-content">
                        <!-- ko if:Content -->
                        <div class="content-tools" data-bind="contentTools:{query:'',identifier:'name',value:Content},identifier:ko.unwrap(Id),html:Content" data-editable></div>
                        <!-- /ko -->
                    </div>

                </div>
            </div>
        </div>
        <!-- /ko -->
        <!-- /ko -->
  

            @if (show || Thread.CurrentPrincipal.IsInStandardUserRole())
            {
                <input class="btn btn-primary" value="Finish Later" type="button" data-bind="click: finishlaterCheckList.bind($data)" />
                <input class="btn btn-primary" id="btnComplete" value="Complete Memo" type="button" data-bind="click: submitCheckList.bind($data)" />
                }
           
            <br><br><br>
            <br><br><br>
        </div>
</div>


@*below code added by neeraj*@


<div class="modal fade" id="finishLaterModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modalSearch ">
                Are you sure you want to complete your Memo later?
            </div>
            <div class="modal-body">
                <span>By clicking "Finish Later" you will be navigated back to your documents and your progress will be saved. </span><br><br>

            </div>
            <div class="modal-footer">
                <div class="text-right">
                    <div class="btn-group">
                        <button type="button" data-dismiss="modal" id="btnFinishLater" class="btn btn-primary">Finish Later</button>
                        <button type="button" id="btnNotAccept" data-dismiss="modal" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="CheckListCompleteModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modalSearch ">
                Are you sure you want to submit your Memo?
            </div>
            <div class="modal-body">
                <span>By clicking "Submit" your Memo will be submitted to your administrator.</span><br><br>

            </div>
            <div class="modal-footer">
                <div class="text-right">
                    <div class="btn-group">
                        <button type="button" data-dismiss="modal" id="btnCompleteCheckList" class="btn btn-primary">Submit</button>
                        <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    window.onload = function() {
    console.log("status data check in model", @Html.Raw(Json.Encode(Model)));

    }
     //neeraj code start

     self.submitCheckList = function (data) {
        //self.finishData = data;
        //var check = true;
        //var requiredChapters = "";
        //$.each(ko.unwrap(data.ContentModels), function (index, val) {
        //    //if (ko.unwrap(val.AttachmentRequired) && ko.unwrap(val.StandardUserAttachments).length == 0) {
        //    //    notif({
        //    //        msg: 'Attachment is required',
        //    //        type: 'error'
        //    //    });
        //    //    check = false;
        //    //}

        //    if (ko.unwrap(val.CheckRequired) && !ko.unwrap(val.IsChecked)) {
        //        requiredChapters = ko.unwrap(requiredChapters) + ko.unwrap(val.Title) + ','
        //        notif({
        //            msg: ko.unwrap(requiredChapters) + ' check item is required',
        //            type: 'error'
        //        });
        //        check = false;
        //        document.querySelectorAll("#isValidateChkBox")[index].style.outline = "2px solid #c00";
        //    } else {
        //        document.querySelectorAll("#isValidateChkBox")[index].style.outline = '';
        //    }
        //});
       // if (check)
            $("#CheckListCompleteModal").modal('show');
    }

    $("#btnCompleteCheckList").click(function () {

         $('#LoadingImageDiv').show();
            var url = '@Url.Action("CompleteMemo")';
            $.ajax({
                    method: 'POST',
                    url: url,
                    data: {
                        model: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)), status: 4, IsGlobalAccessed: '@Request["isGlobal"]'
                    }
                })
                .done(function (data) {
                    notif({
                        msg: 'Your progress has been saved.',
                        multiline: true,
                        type: 'success'
                    });

                    if ('@isGlobal'  === 'True' || '@isGlobal'  === 'true' || '@isGlobal'  === true)
                        window.location.assign("/Document/GlobalDocuments");
                    else
                        window.location.assign("/Document/MyDocuments");
                })
                .always(function() {
                    $('#LoadingImageDiv').hide();
                });

    });

    self.finishlaterCheckList = function (data) {
        console.log("data 111", JSON.stringify(data))

        var model = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
        console.log("model 111", model);

        self.finishData = data;
        $("#finishLaterModal").modal('show');
    }
    $("#btnFinishLater").click(function () {

         $('#LoadingImageDiv').show();
            var url = '@Url.Action("CompleteMemo")';
            $.ajax({
                    method: 'POST',
                    url: url,
                    data: {
                        model: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)), status: 3, IsGlobalAccessed:'@Request["isGlobal"]'
                    }
                })
                .done(function (data) {
                    notif({
                        msg: 'Your progress has been saved.',
                        multiline: true,
                        type: 'success'
                    });

                    if ('@isGlobal'  === 'True' || '@isGlobal'  === 'true' || '@isGlobal'  === true)
                        window.location.assign("/Document/GlobalDocuments");
                    else
                        window.location.assign("/Document/MyDocuments");
                })
                .always(function() {
                    $('#LoadingImageDiv').hide();
                });

    });
    //neeraj code end

    $(function () {
        $(".ct-app").hide();
        $(".iframe").fancybox({
            type: 'iframe'
        });
    });
    var vm = new app.data.previewController(@Html.ToJson(Model),@Html.ToJson(ViewBag.Links as IDictionary<string,string>),
        {
            startTime: '@ViewBag.StartTime',
            trackingInterval: parseInt(@ViewBag.TrackingInterval)
        });
    vm.initialize();
    vm.enums = {};
    vm.enums.documentType= @Html.ToJson(EnumUtilityExtensions.GetEnumFriendlyNamesDictionary(typeof(DocumentType)));
    ko.applyBindings(vm, document.getElementsByTagName('body')[0]);

   // console.log("Request.Url.Query ", '@Request["isGlobal"]')
</script>

