@model Ramp.Contracts.ViewModel.LostPasswordViewModel
@using Web.UI.Code.Extensions
@using Domain.Models
@{
    var portalContext = Html.GetPortalContext();
    var loginImageUrl = Url.Content("~/Content/images/Login/onramp_login.png");
    var loginLogoUrl = Url.Content("~/images/logo.png");
    var companywebsite = AppSettings.Urls.Marketting.AsUrl();
    if (portalContext != null && portalContext.UserCompany != null) {
        if (!string.IsNullOrWhiteSpace(portalContext.UserCompany.WebsiteAddress)) {
            companywebsite = !portalContext.UserCompany.WebsiteAddress.StartsWith("http://", StringComparison.InvariantCultureIgnoreCase) ? string.Format("http://{0}", portalContext.UserCompany.WebsiteAddress) : portalContext.UserCompany.WebsiteAddress;
        }
        if (portalContext.UserCompany.CustomerConfigurations.Count > 0) {
            var customerConfiguration = portalContext.UserCompany.CustomerConfigurations;
            var loginImage = customerConfiguration.Where(x => x.Type == CustomerConfigurationType.LoginLogo && (!x.Deleted.HasValue || (x.Deleted.HasValue && !x.Deleted.Value))).OrderBy(x => x.Version).LastOrDefault();
            var loginLogo = customerConfiguration.Where(x => x.Type == CustomerConfigurationType.DashboardLogo && (!x.Deleted.HasValue || (x.Deleted.HasValue && !x.Deleted.Value))).OrderBy(x => x.Version).LastOrDefault();
            if (loginImage != null && loginImage.UploadModel != null) {
                loginImageUrl = "data:image/png;base64," + Convert.ToBase64String(loginImage.UploadModel.Data);
            }
            if (loginLogo != null && loginLogo.UploadModel != null) {
                loginLogoUrl = "data:image/png; base64," + Convert.ToBase64String(loginLogo.UploadModel.Data);
            }
        }
    }
    Layout = null;
    //ViewBag.Title = portalContext.Name + "Lost Password";
    ViewBag.Title = "OnRAMP Online Training Platform";
    var version = System.Reflection.Assembly.GetAssembly(typeof(Web.UI.App_Start.RampSecurityConfig)).GetName().Version.ToString();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/bundles/css")
    <link href="~/Content/admin.css?v=@version" rel="stylesheet" />
    @Scripts.Render("~/bundles/js")
    @Html.Partial("_NotifyPartial")
    <style>
        .requiredTxt {
            border: solid red;
        }
            .modal-login {
		max-width: 450px;
	}

    .modal-login .modal-content {
        padding:50px;
		border-radius: 50px;
	}
	.modal-login .modal-header {
		border-bottom: none;
        position: relative;
        justify-content: center;
	}
	.modal-login.modal-dialog {
		margin-top: 80px;
	}

    .modal-backdrop{
       backdrop-filter: blur(5px);
       background-color: rgba(0, 0, 0, 0.58);
    }
    .modal-backdrop.in{
       opacity: 1 !important;
    }

        @Html.Raw(portalContext.EmbedCss())
        .splashImage {
            background: url(@loginImageUrl) no-repeat center top;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
          .password, .username {
            position: relative;
            width: 100%;

        }
             .password .glyphicon, .username .glyphicon {
            right: 15px;
            position: absolute;
            top: 10px;
            cursor: pointer;
        }
    </style>
</head>
<body class="container-fluid splashImage" id="lost-password">

    <div id="resetmodal" class="modal fade padding:30px;">
        <div class="modal-dialog modal-login">
            <div class="modal-content">

                <div class="login-col">

                    <a href="@companywebsite" target="_blank" title="Click here for more info">
                        <img class="onramp-logo img-responsive center-block" src="@loginLogoUrl" />
                    </a>
                    <br />
                    <div class="row">
                        <div class="lost-form">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                <div class="row">
                                    <div>
                                        <div class="form-group">
                                            <p>Please enter your email address in the box below and click the Reset Password button to reset your login to OnRamp. Once you have clicked the Reset Password button, please check your email for further instructions.</p>
                                        </div>
                                        <br />

                                        <div class="username">
                                            @Html.TextBoxFor(x => x.Email, new { @type = "email", @class = "form-control requiredClass", @placeholder = "Email Address", style = "max-width:none" })
                                            <span class="glyphicon glyphicon-envelope"></span>
                                        </div>

                                        <br /><br />

                                        <input type="submit" onclick="return checkValidation();" value="Reset Password" class="btn btn-lg center-block btn-primary btn-block" style="max-width:none;width:100%" /><p>&nbsp;</p>
                                        <a href="~/">  <input type="button" value="Back to Login" class="center-block btn btn-lg btn-primary pull-left" style="max-width:none;width:100%"></a>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                    <br />  <br />
                    <div class="row footer">
                        <span class="small pull-left" style="color:#27B899" id="text">Powered By OnRamp</span>
                        <img class="onramp-logo-mini img-responsive pull-right" id="logo" src="@Url.Content("~/images/logo.png")" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(window).on('load', function () {
            $('#resetmodal').modal('show');
        });
    </script>

    <script type="text/javascript">
        function checkValidation() {
            var flag = true;

            $('.requiredClass').each(function () {
                if ($(this).hasClass('requiredTxt')) {
                    flag = false;
                }

            });
            if (flag == false) {

                notif({ msg: "<b>Warning :</b> " + 'We need your email to send you a reset link', type: "error", multiline: true });
            } 
            return flag;

        }

        $('#resetmodal').modal({
            backdrop: 'static',
            keyboard: false
        })

        $(function () {
            $('.requiredClass').blur(function () {
                var val = $(this).val();
                if (val === '' || val === null || val === undefined) {
                    $(this).addClass('requiredTxt');

                } else {
                    $(this).removeClass('requiredTxt');
                }
            });

            $('body').css('padding', 0);
            _adjustFooter();
            $(window).on('resize', _adjustFooter);
            $('form').on('submit', _adjustFooter);
            function _adjustFooter() {
                if (($(window).height() - $('.form').height() - $('.onramp-logo').height()) < $('#footer').height() + 30) {
                    $('#footer').removeClass('signiture');
                } else {
                    $('#footer').addClass('signiture');
                }
                return true;
            }
        });
    </script>
</body>
</html>