@model Ramp.Contracts.ViewModel.ResetPasswordViewModel
@using Web.UI.Code.Extensions
@using Domain.Models
@{
    var portalContext = Html.GetPortalContext();
    var loginImageUrl = Url.Content("~/Content/images/Login/onramp_login.png");
    var loginLogoUrl = Url.Content("~/images/logo.png");
    var companywebsite = AppSettings.Urls.Marketting.AsUrl();
    if (portalContext != null && portalContext.UserCompany != null)
    {
        if (!string.IsNullOrWhiteSpace(portalContext.UserCompany.WebsiteAddress))
        {
            companywebsite = !portalContext.UserCompany.WebsiteAddress.StartsWith("http://", StringComparison.InvariantCultureIgnoreCase) ? string.Format("http://{0}", portalContext.UserCompany.WebsiteAddress) : portalContext.UserCompany.WebsiteAddress;
        }
        if (portalContext.UserCompany.CustomerConfigurations.Count > 0)
        {
            var customerConfiguration = portalContext.UserCompany.CustomerConfigurations;
            var loginImage = customerConfiguration.Where(x => x.Type == CustomerConfigurationType.LoginLogo && (!x.Deleted.HasValue || (x.Deleted.HasValue && !x.Deleted.Value))).OrderBy(x => x.Version).LastOrDefault();
            var loginLogo = customerConfiguration.Where(x => x.Type == CustomerConfigurationType.DashboardLogo && (!x.Deleted.HasValue || (x.Deleted.HasValue && !x.Deleted.Value))).OrderBy(x => x.Version).LastOrDefault();
            if (loginImage != null && loginImage.UploadModel != null)
            {
                loginImageUrl = "data:image/png;base64," + Convert.ToBase64String(loginImage.UploadModel.Data);
            }
            if (loginLogo != null && loginLogo.UploadModel != null)
            {
                loginLogoUrl = "data:image/png; base64," + Convert.ToBase64String(loginLogo.UploadModel.Data);
            }
        }
    }
    Layout = null;
    //ViewBag.Title = portalContext.Name + "Lost Password";
    ViewBag.Title = "OnRAMP Online Training Platform";
    var version = System.Reflection.Assembly.GetAssembly(typeof(Web.UI.App_Start.RampSecurityConfig)).GetName().Version.ToString();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/bundles/css")
    <link href="~/Content/admin.css?v=@version" rel="stylesheet" />
    @Scripts.Render("~/bundles/js")
    @Html.Partial("_NotifyPartial")
    <style>
        @Html.Raw(portalContext.EmbedCss())
        .splashImage {
            background: url(@loginImageUrl) no-repeat center top;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }


            .modal-login {
		max-width: 450px;
	}

    .modal-login .modal-content {
        padding:40px;
		border-radius: 50px;
	}
	.modal-login .modal-header {
		border-bottom: none;
        position: relative;
        justify-content: center;
	}

    .modal-backdrop{
       backdrop-filter: blur(5px);
       background-color: rgba(0, 0, 0, 0.58);
    }
    .modal-backdrop.in{
       opacity: 1 !important;
    }


    </style>
</head>
<body class="container-fluid" id="lost-password">

    <div class="login-logo-col splashImage">
    </div>


    <div id="loginmodal" class="modal show fade padding:30px;">
        <div class="modal-dialog modal-login">
            <div class="modal-content" style="margin-top:20% !important;">

                <div class="login-col">

                    <a href="@companywebsite" target="_blank" title="Click here for more info">
                        <img class="onramp-logo center-block img-responsive" src="@loginLogoUrl" />
                    </a>
                    <br />
                    <div class="lost-form">
                        @using (Html.BeginForm())
                        {
                            @Html.HiddenFor(x => x.ReturnToken)
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div>
                                    <div class="input-group">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", style = "max-width:none" })
                                        <span class="input-group-addon">
                                            <img src="@Url.Content("~/Content/images/Login/username.png")" />
                                        </span>
                                    </div>
                                    <span>
                                        @Html.ValidationMessageFor(m => m.Password)
                                    </span>
                                    <br />
                                    <div class="input-group">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password", style = "max-width:none" })
                                        <span class="input-group-addon">
                                            <img src="@Url.Content("~/Content/images/Login/username.png")" />
                                        </span>
                                    </div>
                                    <span>
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                    </span>
                                    <br />
                                    <input type="submit" value="Reset Password" class="btn btn-lg center-block btn-primary btn-block" style="max-width:none;width:100%" />
                                </div>
                                @Html.ValidationSummary(true)
                            </div>
                        }
                    </div>

                    <br />  <br />
                    <div class="row footer">
                        <span class="small pull-left" style="color:#27B899" id="text">Powered By OnRamp</span>
                        <img class="onramp-logo-mini img-responsive pull-right" id="logo" src="@Url.Content("~/images/logo.png")" />
                    </div>

                </div>



            </div>

        </div>
    </div>
    <script>

    $('#loginmodal').modal({
            backdrop: 'static',
            keyboard: false
        })

        $(function () {
            $('body').css('padding', 0);
            _adjustFooter();
            $(window).on('resize', _adjustFooter);
            $('form').on('submit', _adjustFooter);
            function _adjustFooter() {
                if (($(window).height() - $('.form').height() - $('.onramp-logo').height()) < $('#footer').height() + 30) {
                    $('#footer').removeClass('signiture');
                } else {
                    $('#footer').addClass('signiture');
                }
                return true;
            }
            $('form').on('submit', function () {
                if ($('form').data().unobtrusiveValidation.validate()) {
                    var data = {
                        Password: $('#Password').val(),
                        ConfirmPassword: $('#Password').val(),
                        ReturnToken: $('#ReturnToken').val(),
                        __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val()
                    };

                    $.ajax({
                        method: 'POST',
                        url: '@Url.Action("ResetPassword", "Account", new { Area = "" })',
                        data: data,
                        success: function (response) {
                            notif({
                                msg: 'Password Successfully Changed',
                                type : 'success'
                            });
                            setTimeout(function () {
                                window.location.href = '@Url.Action("Login","Account",new { Area = ""})';
                            }, 2000);
                        },
                        error: function (response) {
                            notif({
                                msg: 'Password Change Request Failed',
                                type: 'error'
                            });
                        }
                    });
                }
                return false;
            });
        });
    </script>
</body>
</html>